.contenedor-cita{
    background-color:rgb(231, 231, 190);
    border-radius: 10;
    width: 30%;
    margin: 10;
    margin-bottom: 12;
    border-color: black;
    border-width: 3;
    border-style: solid;
    margin-top: 30;
}