.contenedor {
    display: flex ;
    justify-content: space-around;
    flex-wrap: wrap;    
    max-width: 100%;
    width: auto;
    
}
@import '~react-agenda/build/styles.css';
@import '~react-datetime/css/react-datetime.css';